{% extends "layout/main.html" %}
{% load static %}

<!-- BLOCK META CONTENT -->
{% block content %}	
    <article>
        <h1 class="title-link">{{post.title}}</h1>
        <div style="display: flex; gap: 1em">
            {% for tag in post.tags.all %}
            <p>{{tag}}</p>
            {% endfor %}
        </div>
        <p>Last update: {{post.updated_at}}</p>
        <img class="cover-img" src="{% if post.image %}{{post.image.url}}{% else %}{% static 'media/placeholder.png' %}{% endif %}" alt="{{post.title}}">
        <div  class="content">
            <p>{{post.content.html|safe}}</p>
        </div>
    </article>
{% endblock content %}
<!-- END BLOCK META CONTENT -->
